{% extends 'base.html' %}

{% block content %}
<h2> Ride {{ride.pk}} Information </h2>
<p>Pickup Time: <b>{{ride.time}}</b></p>
<p>Pickup Location: <b>{{ride.pick_up_location}}</b></p>
<p>Dropoff Location: <b>{{ride.drop_off_location}}</b></p>
<p>Pickup Location (Google API): <b>({{pick_up_lat}}, {{pick_up_lng}})</b></p>
<p>Pickup Location ID (Google API): <b>{{pick_up_id}}</b></p>
<p>Dropoff Location (Google API): <b>({{drop_off_lat}}, {{drop_off_lng}})</b></p>
<p>Dropoff Location ID (Google API): <b>{{drop_off_id}}</b></p>
<p>Status: <b>{{label}}</b></p>
{% endblock %}