{% extends 'base.html' %}

{% block content %}
<h2> Ride {{ride.pk}} Information </h2>
<p>Pickup Time: <b>{{ride.time}}</b></p>
<p>Pickup Location: <b>{{ride.pick_up_location}}</b></p>
<p>Dropoff Location: <b>{{ride.drop_off_location}}</b></p>

<iframe
  width="600"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/directions?key={{ GOOGLE_API_KEY }}&origin={{ ride.pick_up_location }}&destination={{ ride.drop_off_location }}&mode=driving">
</iframe>

{% endblock %}