{% extends 'base.html' %}
{% block content %}
	<div class="container text-center pt-5">
		<div class="row">
			<div class="col">	
	<h1 style='color:white;'> Login </h1>
	<form method="POST" style="color:white;">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit">Login</button>
	</form>

	<a href="{% url 'password_reset' %}">Forgot password?</a>

	<form method="POST" action="{% url 'logout' %}">
		{% csrf_token %}
		
		<button type="submit">Logout</button>
	</form>
				</div>
		</div>
	</div>
{% endblock %}